@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@theme {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-great-vibes: "Great Vibes", cursive;
  --color-primary: #f0eee4;
  --color-secondary: #0c0c0c;
}

@font-face {
  font-family: "Bulgatti";
  src: url("/fonts/Bulgatti.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Poppins", sans-serif;

  --primary-color: #f0eee4;
  --light-black: #0c0c0c;
}

/* Global Reset  */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  transition-delay: 9999s !important;
  transition-property: background-color, color !important;
}

body {
  font-size: 1.3rem;
  font-family: var(--primary-font);
  color: var(--primary-color);
}

button {
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
