@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap");

@import "tailwindcss";
@theme {
  --font-russo: "Russo One", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-anton: "Anton", sans-serif;
  --league: "League Spartan", sans-serif;
  --font-opens: "Open Sans", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --color-primary: #1a1a1a;
  --color-other: #00c27a;
  --color-text: #cccccc;
  --color-muted: #3a3a3a;
  --color-secondary: #ff5500;
}

:root {
  --primary-color: #cccccc;
  --primary-font: "Lato", sans-serif;
}

/* Global Reset  */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  transition-delay: 9999s !important;
  transition-property: background-color, color !important;
}

body {
  font-size: 1.3rem;
  font-family: var(--primary-font);
  color: var(--primary-color);
}

button {
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.icon-effect:is(:hover, :active, :focus) {
  box-shadow: 0 0 0 2px rgba(255, 85, 0, 0.2);
  transition: all 600ms ease;
}

.hero-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/bg-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
